.DataVis {
  text-align: center;
}

.TextBox {
  margin-top: 25px;
  font-size: 1.5em;
  font-weight: 1;
  line-height: 1.5em;
  color: #424242;
  padding-bottom: 100px;
  padding-left: 250px;
  padding-right: 250px;
}

.Title {
  margin-top: 25px;
  font-size: 45px;
}

.cards__item__pic-wrap {
  margin-left: 200px;
  height: 500px;
  width: 500px;
  margin: auto;
  display: flex;
  position: relative;
  width: 100%;
}
.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;

  object-fit: cover;
  transition: all 0.2s linear;
}
.space {
  padding-bottom: 300px;
}
