.Description {
  margin-left: 200px;
  height: 500px;
  width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #fff;
}
.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
}
.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 50%;
  object-fit: cover;
  transition: all 0.2s linear;
}
